<div permissions sortDashboard class="dashboard-container">
    <div class="row-fluid dashboard">
        <a class="dashboard-item-container span4 sortDashboardIndicator" href="#/developer" permissionCheck="developerLink">
            <div class="dashboard-headline">
                Bauunternehmen
            </div>
            <img class="dashboard-image" src="/modules/mod_orchit_baumodul/admin/web/images/developer.png"
                 alt="Bauunternehmen"/>

            <div class="dashboard-text">
                Hier haben Sie die Möglichkeit, ein oder mehrere Bauunternehmen zu administrieren.
            </div>
        </a>
        <a class="dashboard-item-container span4" href="#/partner" permissionCheck="partnerLink">
            <div class="dashboard-headline">
                Werbepartner
            </div>
            <img class="dashboard-image" src="/modules/mod_orchit_baumodul/admin/web/images/partner.png"
                 alt="Werbepartner"/>

            <div class="dashboard-text">
                Hier haben Sie die Möglichkeit, Werbepartner zu administrieren.
            </div>
        </a>
        <a class="dashboard-item-container span4" href="#/userAdmin" permissionCheck="userAdminLink">
            <div class="dashboard-headline">
                Nutzer zuordnen
            </div>
            <img class="dashboard-image" src="/modules/mod_orchit_baumodul/admin/web/images/user.png"
                 alt="Nutzerverwaltung"/>

            <div class="dashboard-text">
                Hier können Sie Nutzer einem Bauunternehmen zuordnen.
            </div>
        </a>
    </div>
    <div class="row-fluid dashboard">
        <a class="dashboard-item-container span4" href="#/news" permissionCheck="newsLink">
            <div class="dashboard-headline">
                News
            </div>
            <img class="dashboard-image" src="/modules/mod_orchit_baumodul/admin/web/images/news.png" alt="News"/>

            <div class="dashboard-text">
                Schreiben und verwalten Sie hier Ihre News-Artikel.
            </div>
        </a>
        <a class="dashboard-item-container span4" href="#/service" permissionCheck="serviceLink">
            <div class="dashboard-headline">
                Service
            </div>
            <img class="dashboard-image" src="/modules/mod_orchit_baumodul/admin/web/images/service.png" alt="Service"/>

            <div class="dashboard-text">
                Schreiben und verwalten Sie hier Ihre Service-Artikel.
            </div>
        </a>

        <a class="dashboard-item-container span4" href="#/contacts" permissionCheck="contactsLink">
            <div class="dashboard-headline">
                Kontakte
            </div>
            <img class="dashboard-image" src="/modules/mod_orchit_baumodul/admin/web/images/contacts.png"
                 alt="Kontakte"/>

            <div class="dashboard-text">
                Sehen und verwalten Sie hier alle Ihre Kontakte und E-Mails.
            </div>
        </a>
    </div>
</div>