<div permissions sortDashboard class="dashboard-container">
    <div class="row-fluid dashboard">

        <a class="dashboard-item-container span4" href="#/partner" permissionCheck="partnerLink">
            <div class="dashboard-headline">
                Werbepartner
            </div>
            <img class="dashboard-image" src="/admin/web/images/partner.png"
                 alt="Werbepartner"/>

            <div class="dashboard-text">
                Hier haben Sie die Möglichkeit, Werbepartner zu administrieren.
            </div>
        </a>
        <a class="dashboard-item-container span4" href="#/userAdmin" permissionCheck="userAdminLink">
            <div class="dashboard-headline">
                Nutzer zuordnen
            </div>
            <img class="dashboard-image" src="/admin/web/images/user.png"
                 alt="Nutzerverwaltung"/>

            <div class="dashboard-text">
                Hier können Sie Nutzer einem Bauunternehmen zuordnen.
            </div>
        </a>
    </div>

</div>