<link rel="stylesheet" type="text/css" href="/modules/mod_orchit_baumodul/tmpl/css/view_admin_company.css"/>
<link rel="stylesheet" href="/modules/mod_orchit_baumodul/tmpl/css/messageAdminPanel.css"/>

<div>
    <div id="useradmin" user-controller ng-cloak>
    <messages config="ctrl.messageConfig"></messages>
        <div id="newUser" class="adminform_96 adminform_unit">
            <h1>
                Benutzer verwalten
            </h1>

            <div class="adminform_hd">Nutzer einem Bauunternehmen zuordnen</div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="adminform_unit">
                        <div>Bauunternehmen auswählen</div>
                        <select id="selectDeveloper" ng-model="ctrl.selectedDeveloper" class="adminform_input_100_top">
                            <option value="" selected="selected">Bauunternehmen auswählen</option>
                            <option ng-repeat="developer in ctrl.developers" ng-value="developer.id">
                                {{developer.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="span6">
                    <div class="adminform_unit">
                        <div>Benutzer auswählen</div>
                        <input ng-model="ctrl.userSearchTerm" ng-blur="ctrl.leaveUserList()"
                               ng-focus="ctrl.updateSearchTerm()" class="adminform_input_100_top"
                               type="text" placeholder="Bitte geben Sie den Namen oder die E-Mail-Adresse ein">
                        <ul ng-if="ctrl.users.length>0" class="adminform_input_100_top userlist adminform_user" ng-mouseover="ctrl.protected=true" ng-mouseout="ctrl.protected=false">
                            <li ng-repeat="user in ctrl.users" ng-click="ctrl.selectedUser=user.id">
                                {{user.name}}
                            </li>
                            <div ng-if="ctrl.users.length==15" class="more"
                                 title="Die Ergebnismenge war zu groß, bitte schränken Sie die Suche ein">...
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <div class="adminform_unit">
                        <div ng-show="ctrl.developerInfo!=null">
                            <div class="adminform_hd">Unternehmensinformationen</div>
                            <div class="row-fluid adminform_unit">
                                <div class="span4">Name</div>
                                <div id="companyName" class="span8">{{ctrl.developerInfo.name}}</div>
                            </div>
                            <div class="row-fluid adminform_unit">
                                <div class="span4">Logo</div>
                                <div class="span8">
                                    <img id="companyLogo" ng-src="/{{ctrl.developerInfo.imageUrl}}"/>
                                </div>
                            </div>
                            <div class="adminform_unit">
                                <div class="adminform_hd">Nutzer des Bauunternehmens</div>
                                <div class="adminform_unit" id="developerUserList">
                                    <div ng-show="ctrl.userList.length==0">Diesem Bauunternehmer sind noch keine
                                        Benutzer zugeordnet.
                                    </div>
                                    <div ng-repeat="user in ctrl.userList">
                                        <span>{{user.name}}</span>
                                        <button type="button" ng-click="ctrl.dropUser(user)"
                                                class="btn-delete pull-left" title="Benutzer entfernen">&times;</button>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="adminform_unit">
                                <button ng-disabled="ctrl.developerInfo==null" type="button" ng-click="ctrl.saveList()"
                                        class="btn btn-primary adminform_unit">speichern
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div ng-show="ctrl.selectedUser!=null" class="adminform_unit">
                        <div class="adminform_hd">Benutzerinformationen</div>
                        <diV class="row-fluid adminform_unit">
                            <div class="span5">Name</div>
                            <div id="fullName" class="span7">{{ctrl.userInfo.name}}</div>
                        </diV>
                        <div class="row-fluid adminform_unit">
                            <div class="span5">Benutzername</div>
                            <div id="userName" class="span7">{{ctrl.userInfo.userName}}</div>
                        </div>
                        <div class="row-fluid adminform_unit">
                            <div class="span5">E-Mail Adresse</div>
                            <div id="userMail" class="span7">{{ctrl.userInfo.mail}}</div>
                        </diV>
                        <div class="adminform_unit">
                            <button ng-disabled="ctrl.developerInfo==null" type="button" ng-click="ctrl.addUser()"
                                    class="btn btn-primary">&larr; Hinzufügen
                            </button>
                        </div>
                    </div>

                    <!--<div id="btnAddUser" style="background-color: red; padding:1em;cursor: pointer;">Dem ausgewählen Bauunternehmen hinzufügen</div>-->
                </div>
            </div>
        </div>

    </div>
</div>